body{
    text-align: center;
}

.line{
    display: flex;
    justify-content: center;
}

.btn{
    height: 170px;
    width: 170px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 1rem;
}

#highScore{
    position: absolute;
    top: 10px;
    right: 50px;
}

.one{
    background-color: #d95980;
}

.three{
    background-color: #63aac0;
}
.two{
    background-color: #f99b45;
}
.four{
    background-color: #819ff9;
}
.five{
    background-color: aquamarine;
}
.six{
    background-color: chocolate;
}
.seven{
    background-color: darkmagenta;
}
.eight{
    background-color: violet;
}
.nine{
    background-color: rgb(200, 200, 77);
}
.white{
    background-color: white;
}